.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    max-width: 350px;
    margin: 0 auto;
}

.login-form-field {
    width: 100%;
    margin-bottom: 16px;
}

.login-button {
    width: 50%;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh
}